/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

.comverse_header {
    width: 100%;
    height: 80px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0 0 5px 1px #888888;
    top: 0;  
    text-align: left;
}
.comverse-logo{
    padding: 10px 25px;
    float: left;
    display: inline;
}
.nav-links{
    font-size: 15px;
    float: left;
    position: relative;
    padding-top: -10px;
    display: inline-block;
}
.nav{
    list-style-type: none;
    margin:0;
    padding-top: 45px;
    display: inline-block;
}
.nav li{
    display: inline;
    padding: 0 10px;
}
.nav a{
    color: #808080;
    text-decoration: none;
}
.nav a:hover{
    color:#9370DB;
}
.side-link{
    float: right;
    font-size: 15px;
    padding-top: 0;
    display: inline-block;
    color: #808080;
    margin: 0;
}
.side-link a{
    color:#808080;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-right: 80px;
    margin:0;

}
.side-link a:hover{
    color:#9370DB;
}
.search{
    float: right;
    display: inline-block;
    position: relative;
    padding-top: 45px;

}
.search input{
    border: 2px solid #a1a1a1;
    border-radius: 5px;
    margin: 0;
    height: 15px;
    display: inline-block;
    position: relative;
}
.search button{
    border: none;
    background: none;
    position: relative;
    display: inline-block;
    margin: 0;
}
.search button img{
    width: 15px;
    height: 15px;
    display: inline;
    margin: 0;
    display: block;
}
.section-general{
    padding:0;
}
.wrap-section-first{
    padding-top: 75px;
    background: url(../img/slide-bg-complexity.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
.cubes{
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
    padding-bottom: 20px;
    padding-left: 180px;
}
.cube-item{
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  display: inline-block;
  width: 220px;
  cursor: pointer;
  padding: 10px 15px;
  margin-right: 30px;
}
.cube-item a{
  text-decoration: none;
}
.cube-item:hover{
  opacity: 1;
}
.cube-head{
  padding: 0;
  height: 100px;
  width:180px;
  margin-top: 0;
}
.cube-pink{
  background: #FF69B4;
  opacity: 0.80;
}
.cube-green{
  background: #32CD32;
  opacity: 0.80;
}
.cube-orange{
  background: #FF8C00;
  opacity: 0.80;
}
.more-btn{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
  border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  font-weight: lighter;
  padding: 8px 15px;
  text-decoration: none;
}
.more-btn:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.wrap-section-do{
  background: #6495ED;
}
.do-list{
  list-style-type: none;
}
.do-list li a {
  text-decoration: none;
}
div.img1{
  height: 60px;
  background: url(../img/solution_icon_smart-money.png) no-repeat left;
}
div.img1:hover{
  height: 60px;
  background: url(../img/solution_icon_smart-money_hover.png) no-repeat left;
}
div.img2{
  height: 60px;
  background: url(../img/solution_icon_biz-analitics.png) no-repeat left;
}
div.img2:hover{
  height: 60px;
  background: url(../img/solution_icon_biz-analitics_hover.png) no-repeat left;
}
div.img3{
  height: 60px;
  background: url(../img/solution_icon_optimize-efficnt.png) no-repeat left;
}
div.img3:hover{
  height: 60px;
  background: url(../img/solution_icon_optimize-efficnt_hover.png) no-repeat left;
}
div.img4{
  height: 60px;
  background: url(../img/solution_icon_biz-transform.png) no-repeat left;
}
div.img4:hover{
  height: 60px;
  background: url(../img/solution_icon_biz-transform_hover.png) no-repeat left;
}
div.img5{
  height: 60px;
  background: url(../img/solution_icon_personal.png) no-repeat left;
}
div.img5:hover{
  height: 60px;
  background: url(../img/solution_icon_personal_hover.png) no-repeat left;
}
div.img6{
  height: 60px;
  background: url(../img/solution_icon_diti-cx.png) no-repeat left;
}
div.img6:hover{
  height: 60px;
  background: url(../img/solution_icon_diti-cx_hover.png) no-repeat left;
}
div.section-news-events{
  background: url(../img/news-and-events-bg.jpg) no-repeat center;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
.event-list{
  list-style-type: none;
}
.event-list a{
  text-decoration: none;
}
.event-headline{
  text-transform: uppercase;
}

.event-list > li{
  width: 280px;
}
ul.event-list > li article{
  background-color: #FFDEFF;
  opacity: 0.5;
  height: 95px;
}
ul.event-list > li article:hover{
  opacity: 1;
}
ul.event-list p{
  color: black;
  font-weight: normal;
}
span.day{
  display: block;
  background-color: #6495ED;
  border-bottom: 1px dashed #FFFFFF;
  font-size: 40px;
  font-weight: normal;
  width: 55px;
  text-align: center;
}
span.month{
  display: block;
  background-color: #6495ED; 
  font-size: 20px;
  font-weight: normal;
  width: 55px;
  text-align: center;
}
h3.date-event{
  width: 55px;
  margin:5px;
  padding:0;
  float: left; 
  text-align: center;
}
a.all{
  color: #FFFFFF;
}
a.all:hover{
  color: #000000;
}
.all-news > span:before{
  content:"";
  background: url(../img/eventListIconNews.png) no-repeat;
  display: block;
  float: left;
  height: 25px;
  width: 25px;
}
.all-news > span:hover:before{
  content: "";
  background: url(../img/eventListIconNews_hover.png) no-repeat;
  display: block;
  float: left;
  height: 20px;
  width: 20px;
}
.all-events > span:before{
  content:"";
  background: url(../img/eventListIconEvents.png) no-repeat;
  display: block;
  float: left;
  height: 20px;
  width: 20px;
}
.all-news > span:hover:before{
  content: "";
  background: url(../img/eventListIconEvents_hover.png) no-repeat;
  display: block;
  float: left;
  height: 20px;
  width: 20px;
}
.wrap-sucess-story{
  background: #F5F5F5;
}
ul.story-list{
  list-style-type: none;
}
.story-list .face:before{
  content: "";
  background: url(..img/CB-JP-face.png) no-repeat;
  display: block;
  float: left;
  height: 40px;
  width: 40px;
}
body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
